<div class="container">
<%= form_with(model: @listing, local: true) do |form| %>
    
    <div class="form-group col-md-6">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="form-group col-md-6">
    <%= form.label :category_id %>
    <%= form.select(:category_id, @category.map{|b| [b.name, b.id]}) %>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :price %>
        <%= form.number_field :price, min: 0 %>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :deposit %>
        <%= form.number_field :deposit, min: 0 %>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :from %>
        <%= form.date_field :from %>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :to %>
        <%= form.date_field :to %>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :delivery %>
        <%= form.text_area :delivery %>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :rental_period %>
        <%= form.number_field :rental_period %>
    </div>

    <div class="form-group col-md-6">
         <%= form.label :picture %> <%= form.file_field :picture, accept:
        'image/png,image/gif,image/jpeg,image/jpg' %>
        <% @condition.each do |option| %>
    </div>

    <div>
        <%= form.radio_button :condition, option %>
        <%= form.label "condition_#{option}", option %>
    <% end %>
    </div>
    <div>
        <%= form.hidden_field :user_id, :value=> @user_id %>
    <div>
        <%= form.submit %>
    </div>
   </div>
<% end %>

    </div>

