<h1>If you can read this you are looking at a listing</h1>

<h1><%= @listing.title %></h1>
<%= image_tag @listing.picture if @listing.picture.attached? %>
<p>Category: <%= @listing.category.name %></p>
<p>Description: <%= @listing.description %></p> 
<p>Conditon: <%= @listing.condition %></p>
<p>From: <%= @listing.from %></p>
<p>To: <%= @listing.to %></p>
<p>Delivery: <%= @listing.delivery %></p>
<p>Min_rental: <%= @listing.rental_period %></p>
<button data-stripe="payment">
  Pay Deposit <%= number_to_currency(@listing.deposit) %>
</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>

