
<h1>New message to <%= @receiver.name %></h1>
<% @messages.each do |message| %>
  <% if message.body %>
          <%= message.body %><br>
      <% end %>
  <% end %>
<%= form_for [@conversation, @message], html: {class: "input-group"} do |f| %>
  <%= f.text_area :body, class: "form-control" %>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <%= f.submit "submit", class: "btn btn-success" %>
<% end %>